.prod-cart {
    padding: 3px 20px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    color: bl;
}
.prod-cart img {
    flex: 1;
    height: 90px;
}
.prod-cart .info {
    flex: 6;
}
.prod-cart label {
    flex: 1;
}
.prod-cart button {
    flex: 0.5;
}